.spinner {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  margin-top: -64px;
}

.results {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 32px;
}

mat-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.activity-recommendation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;

  .image {
    max-height: 200px;
    max-width: 400px;
    mask-image: linear-gradient(to right, transparent 25%, black 75%);
    display: flex;
    align-items: center;

    img {
      height: inherit;
      background-position: center center;
    }
  }
}